---
title: "Home Page"
layout: single
permalink: /homepage/

intro: 
  - excerpt: 'My research interests are Machine Learning, Artificial Intelligence, and Computational Cognitive Neuroscience.'
feature_row:
  - image_path: assets/images/home_page_machine_learning_image.jpg
    alt: "Machine Learning image"
    #title: "Machine Learning"
    excerpt: "Machine Learning"
  - image_path: /assets/images/home_page_artificial_intelligence_image.jpg
    alt: "Artificial Intelligence image "
    #title: "Artificial Intelligence"
    excerpt: "Artificial Intelligence"
    url: /research/
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/home_page_computational_cognitive_neuroscience_image.jpg
    alt: "Computational Cognitive Neuroscience image "
    #title: "Computational Cognitive Neuroscience"
    excerpt: "Computational Cognitive Neuroscience"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<h3 class="archive__subtitle">Personal Motto</h3>

<p>One prospers in worries and hardships, and perishes in ease and comfort.<br>
(&#x751F;&#x4E8E;&#x5FE7;&#x60A3;&#xFF0C;&#x6B7B;&#x4E8E;&#x5B89;&#x4E50;)</p>



<!-- {% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %} -->





